{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block actionButton %}
    <div class="buttons right">
        <a href="{{ url(baseCpPath ~ '/new') }}" class="btn submit add icon">{{ "New provider"|t('patron') }}</a>
    </div>
{% endblock %}

{% block content %}
    {% from "patron/ember/circle-icon" import circleIcon %}
    <div class="card-items">
        {% for provider in providers %}
            {% set icon %}
                {{ circleIcon(
                    (provider['icon'] is defined and provider['icon'] ? provider['icon'] : null),
                    provider.displayName,
                    provider.enabled ? 'active' : 'suspended'
                ) }}
            {% endset %}
            {% embed "patron/ember/card" with {
                id: provider.id,
                name: provider.displayName
            } %}
                {% block cardIcon %}
                    {{ icon }}
                {% endblock %}
                {% block cardTitleContent %}
                    <a href="{{ url(baseCpPath ~ '/' ~ provider.id) }}">{{ provider.displayName }}</a>
                {% endblock %}
                {% block cardSubTitleContent %}
                    {{ provider.handle }}
                {% endblock %}
                {% block cardActionFormContent %}
                    <div class="menubtn" data-icon="settings" title="Actions" tabindex="0"
                         role="combobox"></div>
                    <div class="menu">
                        <ul>
                            {% if provider.isDisabled() %}
                                <li>
                                    <a class="formsubmit"
                                       data-param="provider"
                                       data-value="{{ provider.id }}"
                                       data-action="{{ baseActionPath }}/enable"
                                       data-redirect="{{ continueEditingUrl|hash }}">
                                        {{ "Enable"|t('patron') }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="formsubmit"
                                       data-param="provider"
                                       data-value="{{ provider.id }}"
                                       data-action="{{ baseActionPath }}/disable"
                                       data-redirect="{{ continueEditingUrl|hash }}">
                                        {{ "Disable"|t('patron') }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        {% if not provider.locks|length %}
                        <hr>
                        <ul>
                            <li>
                                <a class="formsubmit error"
                                   data-param="provider"
                                   data-value="{{ provider.id }}"
                                   data-action="{{ baseActionPath }}/delete"
                                   data-confirm="{{ 'Are you sure you want to delete this provider?'|t('patron') }}"
                                   data-redirect="{{ continueEditingUrl|hash }}" class="delete"
                                   title="{{ 'Delete'|t('patron') }}" role="button">
                                    {{ "Delete"|t('patron') }}
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>
{% endblock %}
