{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% block actionButton %}
    <div class="submit right">
        <a href="{{ actionUrl("patron/cp/authorization/authorize", {id:provider.id}) }}"
           class="btn submit"> {{ 'Issue Token'|t('patron') }}</a>
    </div>
{% endblock %}

{% block content %}
    {% embed "patron/ember/circle-icon" with {
        icon: (provider['icon'] is defined and provider['icon'] ? provider['icon'] : null),
        label: provider.displayName,
        status: provider.enabled ? 'active' : 'pending',
        class: ['large']
        } %}
        {% block circleIconTextContent %}
            <h3 class="title">
                <a href="{{ url(baseCpPath ~ '/' ~ provider.id) }}">{{ provider.displayName }}</a>
            </h3>
            <h5 class="sub-title">{{ provider.handle }}</h5>
        {% endblock %}
    {% endembed %}

    <hr/>

    {% from _self import tr %}
    {% set tokens = provider.tokens %}
    <table id="tokens" class="data fullwidth collapsible{% if tokens|length == 0 %} hidden{% endif %}">
        <thead>
        <th scope="col">{{ "Access Token"|t('patron') }}</th>
        <th scope="col">{{ "Expires"|t('patron') }}</th>
        <td class="thin"></td>
        </thead>
        <tbody>
        {% for token in tokens %}
            {{ tr(token, baseActionPath, continueEditingUrl) }}
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% js %}
    new Craft.RowInfo(
    $("#tokens tbody th a"),
    {
    modalSettings: {
    desiredHeight: 200,
    action: '{{ actionUrl("/patron/cp/tokens/modal") }}',
    actionData: $.proxy(function (modal) {
    return {token: modal.$target.data('id')}
    }, this)
    }
    });
{% endjs %}


{% macro tr(token, baseActionPath, continueEditingUrl) %}
    {% set isActive = token.enabled and not token.hasExpired() ? 1 : 0 %}
    {% set hasExpired = token.enabled and token.hasExpired() ? 1 : 0 %}
    {% set isInactive = not token.enabled ? 1 : 0 %}
    {% set state = isActive ? 'active' : (hasExpired ? 'suspended' : '') %}
    <tr data-id="{{ token.id }}" data-name="{{ token.id }}">
        <th scope="row" data-title="{{ 'Access Token'|t('patron') }}">
            <span class="status {{ state }}"></span>
            <code>{{ token.accessToken|slice(0, 32) ~ '...' }}</code>
            <a class="info-expand"></a>
        </th>
        <td data-title="{{ 'Expires'|t('patron') }}">
            {{ token.dateExpires|date("c") }}
        </td>

        <td class="thin">
            <form method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                <input type="hidden" name="token" value="{{ token.id }}"/>
                {{ redirectInput(continueEditingUrl) }}
                <div class="btn menubtn" data-icon="settings" title="Actions" tabindex="0" role="combobox"></div>
                <div class="menu">
                    {% if not hasExpired %}
                        <ul>
                            <li>{% if isActive %}
                                    <a class="formsubmit"
                                       data-action="{{ baseActionPath }}/disable">
                                        {{ "Revoke"|t('patron') }}
                                    </a>
                                {% else %}
                                    <a class="formsubmit"
                                       data-action="{{ baseActionPath }}/enable">
                                        {{ "Reinstate"|t('patron') }}
                                    </a>
                                {% endif %}</li>
                        </ul>
                        <hr>{% endif %}
                    <ul>
                        <li>
                            <a class="formsubmit"
                               data-action="{{ baseActionPath }}/delete"
                               class="delete"
                               title="{{ 'Delete'|t('patron') }}" role="button">
                                {{ "Delete"|t('patron') }}
                            </a></li>
                    </ul>

                </div>
            </form>
        </td>
    </tr>
{% endmacro %}
