{% import "_includes/forms" as forms %}

{% set isActive = token.enabled and not token.hasExpired() ? 1 : 0 %}
{% set hasExpired = token.enabled and token.hasExpired() ? 1 : 0 %}
{% set isInactive = not token.enabled ? 1 : 0 %}

<div class="field" id="state">
    <div class="heading">
        <label id="state-label" for="state">State</label>
    </div>
    <div class="input">
        {% set state = isActive ? 'active' : (hasExpired ? 'suspended' : '') %}
        {% set label = isActive ? 'Active' : (hasExpired ? 'Expired' : 'Revoked') %}
        <span class="status {{ state }}"></span>{{ label }}
    </div>
</div>

{{ forms.textareaField({
    label: "Access Token"|t('patron'),
    id: 'accessToken',
    name: 'accessToken',
    value: token.accessToken,
    rows: 4,
    disabled: true
}) }}

{{ forms.textareaField({
    label: "Refresh Token"|t('patron'),
    id: 'refreshToken',
    name: 'refreshToken',
    value: token.refreshToken,
    rows: 4,
    disabled: true
}) }}

<hr/>

{{ forms.textField({
    label: "Expires"|t('patron'),
    id: 'dateExpires',
    name: 'dateExpires',
    value: token.dateExpires|date('c'),
    readonly: true
}) }}

{{ forms.textField({
    label: "Issued"|t('patron'),
    id: 'dateCreated',
    name: 'dateCreated',
    value: token.dateCreated|date("c"),
    readonly: true
}) }}